//main
.miniCart {
  background-color: $primary;
  border-style: groove;
  border-radius: 15px;
  margin-left: 65%;
  top:80px;
  position: absolute;
  display: flex;
  height: auto;
  flex-direction: column;
  width: 20%;
  padding: 1%;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
.miniCart hr {
  background-color: $secondary;
  height: 1px;
  margin-top: 2%;
}

//cabecera con titulo
.miniCart__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

//boton ocultar carro
.miniCart__header__close {
  background-color: $primary;
  border-radius: 5px;
  font-weight: 700;
  &:hover {
    cursor: pointer;
  }
}
//productos contenedor
.miniCart__products {
  max-height: 50vh;
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
//producto
.miniCart__products__product {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
//imagen miniatura
.miniCart__products__product img {
  border-radius: 15px 15px 0px 0px;
  width: 7vh;
}
//titulo  cantidad precio
.miniCart__products__product__description {
  display: flex;
  align-items: center;
  width: 60%;
}
//boton borrar
.miniCart__products__product__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $red;
  & svg {
    cursor: pointer;
    &:hover {
      color: $red-hover;
    }
  }
}

//totales
.miniCart__total {
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
//boton para pasar a checkout
.miniCart__button__checkout {
  width: auto;
  padding: 2%;
  margin-top: 3%;
  border-radius: 5px;
  font-size: large;
  color: $primary;
  font-size: larger;
  font-weight: 100;
  background-color: $green;
  &:hover {
    cursor: pointer;
    background-color: $green-hover;
  }
}

@keyframes animatetop {
  from {
    top: -90px;
    opacity: 0;
  }
  to {
    top: 80;
    opacity: 1;
  }
}
