.productCard {
  background-color: $primary;
  border-radius: 15px;
  color: $secondary;
  padding-bottom: 5px;
  width: 20%;
  margin-right: 5px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productCard__img {
  border-radius: 15px 15px 0px 0px;
  height: 220px;
  max-width: 190px; 
  object-fit: contain;
  display: block;
  &:hover {
    cursor: pointer;
  }
}
.productCard__title {
  margin: 10px;
  text-align: center;
}
.productCard__price {
  font-weight: bold;
}

.productCard__buttonsContainer {
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.productCard__buttonMinus {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid $secondary;
  border-radius: 5px 0px 0px 5px;
  font-size: 20px;
  width: 30px;
}

.productCard__buttonMinus:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.productCard__countLabel {
  border-bottom: 1px solid $secondary;
  border-top: 1px solid $secondary;
  font-size: 16px;
  height: 25px;
  padding-top: 5px;
  text-align: center;
  width: 30px;
}

.productCard__buttonAdd {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid $secondary;
  border-radius: 0px 5px 5px 0px;
  font-size: 20px;
  width: 30px;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
